<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/aop   
        http://www.springframework.org/schema/aop/spring-aop-4.0.xsd   
        http://www.springframework.org/schema/beans   
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd   
        http://www.springframework.org/schema/context   
        http://www.springframework.org/schema/context/spring-context-4.0.xsd   
        http://www.springframework.org/schema/mvc   
        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd   
        http://www.springframework.org/schema/tx   
        http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

	<!-- 注解扫描包 -->
	<context:component-scan base-package="com.silverfox" />
	
	<!-- 开启注解 -->
	<mvc:annotation-driven />
	
	<!--<mvc:view-controller path="/" view-name="index"/>-->
	
	<!--
		配置静态资源，直接映射到对应的文件夹，不被DispatcherServlet处理，3.04新增功能，需要重新设置spring-mvc-3.0.xsd
	-->
	<mvc:resources mapping="/images/**" location="/WEB-INF/images/" />
	<mvc:resources mapping="/js/**" location="/WEB-INF/js/" />
	<mvc:resources mapping="/css/**" location="/WEB-INF/css/" />
	<mvc:resources mapping="/fonts/**" location="/WEB-INF/fonts/" />
	<!-- 国际化 start -->
	<bean id="messageSource"  class="org.springframework.context.support.ResourceBundleMessageSource">                    
	  <property name="basenames">
	   <list>
	    <value>message/message</value>
	   </list>
	  </property>                  
	  <property name="useCodeAsDefaultMessage" value="true"/>
	</bean>
	
	<bean id="localeResolver" class="org.springframework.web.servlet.i18n.SessionLocaleResolver">
   		<property name="defaultLocale" value="zh_CN"></property>
 	</bean>
 	
	 <bean id="className" class="org.springframework.web.servlet.mvc.support.ControllerClassNameHandlerMapping">
	     <property name="interceptors">
	   		<list>
	        	<bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor" />
	   		</list>
	  	</property>
  	</bean>
	<!-- 国际化 start -->
	
	<!-- 定义跳转的文件的前后缀 ，视图模式配置-->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!-- 这里的配置我的理解是自动给后面action的方法return的字符串加上前缀和后缀，变成一个 可用的url地址 -->
		<property name="prefix" value="/WEB-INF/" />
		<property name="suffix" value=".jsp" />
	</bean>
</beans>
